<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaphod.NavitelHelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Translucent">
        <activity
            android:name="com.zaphod.NavitelHelper.NavitelHelper"
            android:label="@string/title_activity"
            android:launchMode="singleTop"
            android:excludeFromRecents="true">
<intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="and"/>
                <data android:scheme="waze"/>
                <data android:scheme="geo"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
		<data android:scheme="geo"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/postal-address_v2"/>
                <data android:mimeType="vnd.android.cursor.item/postal-address"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="maps.google.com" android:pathPrefix="/maps" android:scheme="http"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
